@{
    ViewData["Title"] = "Home Page";
}

@* Defines the type of data to be used. Type of Return value from Controller. *@
@model LinkedList<APIproject.Models.Root>

    <div class="text-center">
        <section>
            @using (Html.BeginForm("GetAPIData", "Home", FormMethod.Post))
            {
                <h1 class="display-6">Please enter the below detail</h1>
                <br />
                <label>Point of Interest: </label>
                <input type="text" name="loc" value="" />
                <br />
                <input type="submit" name="submit" value="Search" />
            }
        </section>
    </div>

@* System.Collections.Generic.LinkedList`1[APIproject.Models.Root]',
    LinkedList<Root> FinalResult = new LinkedList<Root>();

    List = FinalResult
    Model = FinalResults

    Final Results = <Root1, Root2..........>  // Root is the parent tag of json.     

*@
