@model APIproject.Models.Userlogin

<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>login</title>
</head>

<h1 class="text-light">Trending Destination</h1>


<body text="#F3F3F3" link="#2CA824" vlink="#000000" alink="#0E28E1" leftmargin="10" topmargin="30" marginwidth="10" marginheight="30" width="600" height="400">
    <div class="jumbotron bg-transparent">
        <form asp-action="LoginResults" asp-controller="Home" method="post">

            <div class="form-group row">
                <label for="user" class="col-sm-2 col-form-label text-light">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="user" id="user" placeholder="Enter username">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label text-light">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label text-light">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="reset" name="reset" id="reset" value="Reset">
                    <input name="submit" type="submit" id="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>
</html>