@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model APIproject.Models.Planvalidation
<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>login</title>

    <script type="text/javascript">

        function validate_dates() {
            var date1 = document.getElementById("from_date").value.split("-");
            var date2 = document.getElementById("to_date").value.split("-");

            var Fecha1 = new Date(parseInt(date1[0]), parseInt(date1[1]) - 1, parseInt(date1[2]));
            var Fecha2 = new Date(parseInt(date2[0]), parseInt(date2[1]) - 1, parseInt(date2[2]));

            if (Fecha1 > Fecha2) {
                alert("Please enter valid start and end dates.");
                return false;
            }

        }
    </script>

</head>

<h1 class="text-light">Trending Destination</h1>

<body text="#F3F3F3" link="#2CA824" vlink="#000000" alink="#0E28E1" leftmargin="10" topmargin="30" marginwidth="10" marginheight="30" width="600" height="400">
    <div class="jumbotron bg-transparent">
        <form asp-action="GetAPIData" asp-controller="Home" method="post" onsubmit="return validate_dates()">
            
            <div class="form-group row">
                <label for="from_date" class="col-sm-2 col-form-label text-light">From</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="from_date" id="from_date">
                </div>
            </div>

            <div class="form-group row">
                <label for="to_date" class="col-sm-2 col-form-label text-light">To</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="to_date" id="to_date">
                </div>
            </div>

            <div class="form-group row">
                <label for="location1" class="col-sm-2 col-form-label text-light">Starting City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="location1" id="location1" placeholder="Enter starting location">
                </div>
            </div>

            <div class="form-group row">
                <label for="location2" class="col-sm-2 col-form-label text-light">Destination City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="location2" id="location2" placeholder="Enter end location">
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0 text-light">Interests</legend>
                    <div class="col-sm-10">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input text-light" name="nature" id="nature">
                            <label class="form-check-label text-light" for="nature">
                                Nature
                            </label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input text-light" name="city" id="city">
                            <label class="form-check-label text-light" for="city">
                                City
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <input type="checkbox" class="form-check-input text-light" name="outdoor" id="outdoor">
                            <label class="form-check-label text-light" for="outdoor">
                                Outdoors
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="reset" name="reset" id="reset" value="Reset">
                    <input type="submit" name="submit" id="submit" value="Submit">
                </div>
            </div>

        </form>
    </div>
</body>
</html>